<div class="container">
    <h1 style="margin-bottom: 50px;">Kontakt i informacije</h1>

    <div class="contact-container">
        <h3 style="text-align: center;">Gdje se nalazimo?</h3>
        <div style="text-align: center;">
            <div class="location">
                <ul>
                    <li>LP Webshop</li>
                    <li>Vlaška ulica 242</li>
                    <li>10000 Zagreb</li>
                    <li>Croatia</li>
                </ul>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.2087333209614!2d15.995533569629169!3d45.814564132919784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d7ac52d054d9%3A0x4b2f7cead4ebb8c5!2sVla%C5%A1ka%20ul.%20242%2C%2010000%2C%20Zagreb!5e0!3m2!1shr!2shr!4v1699987463714!5m2!1shr!2shr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>


        <h3 style="text-align: center;">Osobne informacije</h3>
        <div style="text-align: center;">
            <div class="informations">
                <ul>
                    <li style="vertical-align: middle;"> <img src="/assets/images/phone-regular-24.png">091 466 3573
                    </li>
                    <li style="position: relative;"> <img src="/assets/images/envelope-regular-24.png">
                        leon.pisacic2002@gmail.com</li>
                    <li><img src="/assets/images/time-five-regular-24.png">Pon-Ned: 08-17h</li>

                    <li> <span style="margin-right: 10px;">Društvene mreže</span>
                        <a href="https://www.facebook.com/leon.pisacic/">
                            <img src="/assets/images/facebook-circle-logo-24.png" class="socialMedia">
                        </a>
                        <a href="https://www.instagram.com/leon__pisacic/">
                            <img src="/assets/images/instagram-logo-24.png" class="socialMedia">
                        </a>
                        <a href="https://www.linkedin.com/in/leon-pisacic-8b943b25b/">
                            <img src="/assets/images/linkedin-square-logo-24.png" class="socialMedia">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>