<footer class="footer main-footer">
    <div class="row">
        <div class="col">
            <h4>Tvrtka</h4>

            <ul class="companyInformations">
                <li><a style="cursor: pointer;">Vlaška ulica 242</a></li>
                <li><a style="cursor: pointer;">10000 Zagreb</a></li>
                <li><a style="cursor: pointer;">Croatia</a></li>
            </ul>

        </div>
        <div class="col">
            <h4>Kontakt</h4>
            <ul>
                <li><a routerLink="/about-us">O nama</a></li>
                <li><a routerLink="/our-services">Naše usluge</a></li>
                <li><a routerLink="/contact-and-informations">Kontakti i informacije</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>Pomoć</h4>
            <ul>
                <li><a routerLink="/privacy-policy">Politika privatnosti</a></li>
                <li><a routerLink="/delivery">Dostava</a></li>
                <li><a class="tecaj">Fiksni tečaj: 1€ = 7,53450 Kn</a></li>
            </ul>
        </div>
        <div class="col">
            <h4>Zapratite nas</h4>
            <div class="social-links">
                <a href="https://www.facebook.com/leon.pisacic/"><img
                        src="/assets/images/facebook-circle-logo-36.png"></a>

                <a href="https://www.instagram.com/leon__pisacic/"><img src="/assets/images/instagram-logo-36.png"></a>

                <a href="https://www.linkedin.com/in/leon-pisacic-8b943b25b/"><img
                        src="/assets/images/linkedin-square-logo-36.png"></a>
            </div>
        </div>
    </div>

</footer>