* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

#smallScreenHeader {
    padding: 1.3rem 0.5%;
    background-color: rgb(183, 181, 181);
}

#smallScreenHeader::before {
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
}

#smallScreenHeader .row {
    display: flex;
    justify-content: space-between;
}

#smallScreenHeader .navbar {
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: center;
}

/* #smallScreenHeader .navbar span {
    margin: 10px;
} */

#smallScreenHeader .logo {
    width: 60px;
    border-radius: 40px;
}

#smallScreenHeader .logo-container {
    padding: 0 60px;
    left: 0;
    align-items: center;
}


#smallScreenHeader #searchInput {

    border-radius: 25px;
    padding: 5px;
    border: 1px solid gray;
}

#smallScreenHeader #searchInput::placeholder {
    padding-left: 10px;
}

#smallScreenHeader .searchButton {
    color: white;
    background-color: #4267B2;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px 15px;
}

#smallScreenHeader .shoppingCartText {
    display: none;
}

#smallScreenHeader .kosarica {
    padding: 9px;
    border: 1px solid gray;
    transition: .6s ease;
}

#smallScreenHeader .kosarica:hover {
    background-color: #4267B2;
    transition: .6s ease;
}

#smallScreenHeader #lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -7px;
}

#smallScreenHeader .aside-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 920px) {

    #smallScreenHeader .search-container {
        text-align: center;
        width: 100%;
    }



    #smallScreenHeader .search-container {
        text-align: center;
    }

    #smallScreenHeader .logo-container {
        padding: 0px 20px;
    }


}

/*********************************************************************************/


#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1000;
}



.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;

    z-index: 2;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#bigScreenHeader {
    display: none;
}

/*********************************************************************************/


@media (max-width: 450px) {
    #searchInput {
        width: 160px;
    }
}

@media (max-width: 920px) {

    #smallScreenHeader {
        display: block;
    }

    #bigScreenHeader {
        display: none;
    }
}

@media (min-width: 550px) and (max-width:920px) {
    #smallScreenHeader #searchInput {
        width: 300px;
    }
}

@media (min-width: 920px) {
    #smallScreenHeader .aside-container {
        display: none;
    }

    #bigScreenHeader {
        height: 110px;
        display: flex;
        background-color: rgb(183, 181, 181);
    }

    #smallScreenHeader {
        display: none;
    }

}

#bigScreenHeader .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 0.5%;
    background-color: rgb(183, 181, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#bigScreenHeader .header::before {
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
}

#bigScreenHeader .logo {
    width: 60px;
    border-radius: 40px;
}


#bigScreenHeader .logo-container {
    padding: 0 60px;
    display: flex;
    left: 0;
    align-items: center;
}


#bigScreenHeader .navbar {
    display: flex;
    flex: 1;
    /*--flex 1 fills up the remaning space of column */
    justify-content: space-between;
    align-items: center;
}

#bigScreenHeader #check {
    display: none;
}

#bigScreenHeader .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

#bigScreenHeader .navbar-container-input {

    border-radius: 25px;
    padding: 5px;
    border: 1px solid gray;
    margin-right: 10px;
}

#bigScreenHeader .navbar-container-input::placeholder {
    padding-left: 10px;
}

#bigScreenHeader .searchButton {
    color: white;
    background-color: #4267B2;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px 15px;
}

#bigScreenHeader .shoppingCartText {
    display: none;
}

#bigScreenHeader .kosarica {
    padding: 9px;
    border: 1px solid gray;
    transition: .6s ease;
}

#bigScreenHeader .kosarica:hover {
    background-color: #4267B2;
    transition: .6s ease;

}

#bigScreenHeader #lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -7px;
}

@media (min-width:992px) {
    #bigScreenHeader .navbar-container-input {
        min-width: 320px;
    }
}