<div class="container">
    <h1>Naše usluge</h1>

    <div class="books-container">
        <div class="text">
            <b>Oaza Knjiga: </b>Uronite u Priče
            Zaronite u našu opsežnu kolekciju knjiga koja obuhvaća žanrove, autore i uzbudljive narative. Bilo da ste
            zaljubljenik u fikciju, poštovatelj nefikcije ili istražujete dječju književnost, naša Oaza Knjiga je
            riznica
            čitalačkih užitaka. Dopustite pričama da vas prenesu u nove svjetove i nadahnu vašu maštu.
        </div>

        <div class="img-container">
            <img src="/assets/images/books.jpg" class="img-fluid">
        </div>
    </div>

    <div class="mouse_pad-container">
        <div class="text">
            <b>Ergonomska Radna Okruženja:</b> Podignite Svoju Učinkovitost
            Unaprijedite svoje radno okruženje s našim ergonomskim podlogama za miš, dizajniranim za udobnost i
            produktivnost.
            Izrađene s preciznošću i pažnjom prema detaljima, naše podloge za miš pružaju savršenu ravnotežu između
            stila i
            funkcionalnosti. Transformirajte svoje radno mjesto u središte učinkovitosti i kreativnosti.
        </div>

        <div class="img-container">
            <img src="/assets/images/mouse_pads.jpg" class="img-fluid">
        </div>
    </div>

    <div class="coffie_mugs-container">

        <div class="text">
            <b> Trenuci Kave:</b>
            Ispijanje, Opustite Se, Uživajte
            Opustite se uz našu iznimnu kolekciju šalica za kavu koje unapređuju vaše iskustvo ispijanja kave. Od
            elegantnih
            dizajna do živopisnih uzoraka, svaka šalica je umjetničko djelo stvoreno kako bi upotpunilo vaš osobni stil.
            Ispijajte svoj omiljeni napitak s elegancijom i pretvorite svaki trenutak ispijanja kave u užitak.
        </div>

        <div class="img-container">
            <img src="/assets/images/coffie_mug.webp" class="img-fluid">
        </div>
    </div>

</div>