.container-fluid {
    margin-top: 20px;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;

}

tr td {
    background-color: white;
}

tr th {
    color: white;
    background-color: #0da8e4;
}