<div class="container">
    <h1>Brza i pouzdana dostava</h1>
    <div class="delivery-container">

        <div class="alignCenter">
            <img src="/assets/images/dostava.jpg" class="img-fluid">
        </div>

        <div class="alignCenter webshopWorkTime">
            <div style="margin-bottom: 30px;">
                <b> LP Webshop radi od 0-24h za sve vaše NARUDŽBE i DOSTAVE na teritoriju cijele Republike Hrvatske.</b>
            </div>

            <span>
                Dostava i plaćanje gotovinom prilikom preuzimanja je dostupno na teritoriju cijele Republike Hrvatske.
                Dostavu naplaćujemo <b>2,89 € / 21,77 Kn, bez obzira na veličinu paketa</b> i količinu artikala unutar
                istog.
                U slučaju bilo kakvih dodatnih pitanja u vezi plaćanja ili nečeg drugog, budite slobodni nas
                kontaktirati.
            </span>
        </div>

        <div class="delivery-text-container">
            <div>
                <h3>Način dostave</h3>

                <span>
                    Isporuku robe vršimo putem <b>Overseasa ili GLS-a.</b> Svi će proizvodi biti zapakirani tako da se
                    izbjegne bilo
                    kakvo oštećenje prilikom transporta. Naručene artikle <b>dostavljamo na području cijele
                        Hrvatske.</b>
                    Vaša pošiljka je <b>osigurana od gubitka u dostavi.</b>
                </span>
            </div>

            <div>
                <h3>Cijena dostave</h3>

                <span>
                    Za sve narudžbe dostava je <b> samo 2,89 € / 21,77 Kn, bez obzira na veličinu paketa</b> i količinu
                    artikala
                    unutar istog (vrijedi za cijelu Republiku Hrvatsku).
                    <br>
                    <br>
                    Napomena: dostava ne podrazumijeva montažu i ugradnju naručenih artikala.
                </span>

            </div>

            <div>
                <h3>Rok isporuke</h3>

                <span>
                    Kupcu se roba dostavlja do ulaznih vrata zgrade ili najbližeg mjesta kojem se može pristupiti
                    dostavnim
                    vozilom.
                    <br>
                    <br>
                    Isporuku obavljamo u roku od <b>1 - 3 dana</b>, (ovisno o mjestu dostave) osim za proizvode na
                    kojima je
                    drugačije naznačeno ili za koje je kupac posebno obavjiešten o roku isporuke. Subote i nedjelje, te
                    neradni dani ne računaju se u rok dostave.
                </span>

            </div>

            <div>
                <h3>Obaveze kupca</h3>

                <span>

                    Kupac je dužan prilikom preuzimanja proizvoda provjeriti eventualna oštećenja i <b>odmah ih
                        reklamirati</b>
                    dostavnom radniku koji je robu dostavio, odnosno <b>odbiti preuzeti pošiljku</b> na kojoj su
                    vidljiva
                    vanjska
                    oštećenja.
                    <br>
                    <br>
                    Kupac je obavezan prilikom preuzimanja robe potpisati otpremnicu ili dostavnicu te je dostavna
                    služba
                    uzima kao potvrdu o preuzimanju.
                    Kupac prilikom uručenja treba provjeriti sadržaj pošiljke za sve pripadajuće dijelove navedene u
                    specifikaciji proizvođača. U slučaju nedostataka molimo da nas obavijestite što je ranije moguće, a
                    najkasnije u <b>roku 72 sata od dostave.</b> Naknadne reklamacije ne možemo uvažiti!
                    <br>
                    <br>
                    U slučaju kašnjenja zbog više sile (izgubljeni proizvodi, oštećeni proizvodi u dostavi u
                    distribucijskom
                    centru partnera koje je isti vratio LP Webshop-u bez isporuke kupcu i sl.) LP Webshop ne preuzima
                    odgovornost na „prvi rizik" i obvezuje se poslati zamjenski proizvod u najkraćem roku.
                    <br>
                    <br>
                    <b>VAŽNO: Ako ne primite robu u dogovorenom roku, molimo Vas da nas obavijestite što je prije moguće
                        mailom ili telefonom!</b>
                    Sve uvjete povrata i poslovanja pogledajte klikom na: <a routerLink="/privacy-policy"
                        style="text-decoration: none;"><b>UVJETI POSLOVANJA</b> </a>
                </span>
            </div>
        </div>


    </div>
</div>