<div class="container" style="padding: 20px;">
    <div>
        <b style="display: inline-block;">LP Webshop d.o.o.</b> se u skladu s Uredbom (EU) br. 2016/679 obvezuje pružati
        zaštitu osobnih podataka
        kupaca,
        na
        način
        da prikuplja samo nužne, osnovne podatke o kupcima koji su potrebni za ispunjenje naših obveza; informira kupce
        o
        načinu
        korištenja prikupljenih podataka, redovito daje kupcima mogućnost izbora o upotrebi njihovih podataka,
        uključujući
        mogućnost odluke žele li da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje. Svi se podaci
        o
        korisnicima strogo čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje posla. Svi
        djelatnici
        LP Webshop d.o.o. i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.
    </div>

    <br>

    <div>
        <b>Prikupljanje i korištenje informacija</b>
        LP Webshop d.o.o. cijeni i štiti Vašu privatnost. U procesu realizacije tražene usluge i za davanje
        obavijesti i
        informacija vezanih uz Vašu kupovinu ili drugu uslugu, koristit ćemo samo one informacije koje nam svojevoljno
        date.
        Obvezujemo se da nećemo prodati, iznijeti ili dati ove informacije trećoj stranci na način koji nije naveden u
        ovoj
        izjavi.

    </div>

    <br>

    <div>
        <b>Registracija</b>
        Kako bi se napravila rezervacija ili poslao upit na ovoj web stranici, korisnik prethodno mora obaviti
        registraciju
        popunjavanjem registracijskog upitnika. Tijekom registracije od korisnika se traže kontakt informacije (poput
        imena
        i
        e-mail adrese). Ove se informacije koriste kako bi se stupilo u kontakt s korisnikom prilikom odgovaranja na
        pitanja
        postavljenih na našoj web stranici te za osiguravanje privatnosti korisnika pri kontroli statusa rezervacije i
        unosa
        ili
        promjene podataka.
    </div>

    <br>

    <div>
        <b>Rezervacija</b>
        Pri rezervaciji roba ili druge usluge koju nudimo na ovim stranicama, tražit ćemo osobne podatke nositelja
        rezervacije
        (poput imena, adrese, kontakt telefona i dr.). Ti podaci koristit će se isključivo za realizaciju usluge. Podaci
        o
        plaćanju (poput broja kartice, i sl.) posebno su zaštićeni sigurnosnim protokolima najvišeg stupnja i bit će
        dostupni
        samo bankama, odnosno kartičnim kućama radi autorizacije plaćanja.
    </div>

    <br>

    <div>
        <b>Log datoteke</b>
        IP adrese koristimo kako bismo analizirali trendove, održavali web stranicu, pratili kretanje korisnika i
        sakupili
        šire
        demografske podatke. IP adrese nisu vezane uz bilo kakve osobne podatke uz pomoć kojih je moguća identifikacija
        pojedinca.
    </div>

    <br>

    <div>
        <b>Dostupnost informacija</b>
        Prikupljeni demografski podaci bit će dostupni našim medijskim partnerima, profesionalcima i oglašivačima. Ovo
        nije
        povezano s bilo kakvim osobnim podacima uz pomoć kojih je moguća identifikacija pojedinca. Kako bismo pružili
        posebne
        usluge možemo se udružiti s trećom strankom. Samo kad se korisnik prijavi za ove usluge, trećoj stranci bit će
        dostupna
        imena ili druge kontakt informacije koje su neophodne za pružanje spomenutih usluga. Trećoj stranci nije
        dozvoljeno
        koristiti osobne podatke osim u svrhu pružanja navedenih usluga.
    </div>

    <br>
    <div>
        <b>Linkovi</b>
        Ova web stranica sadrže linkove na druge web stranice. Molimo vas da uzmete u obzir kako LP Webshop d.o.o. ne
        može
        biti odgovoran za poštivanje privatnosti na spomenutim drugim web stranicama. Naše korisnike potičemo da
        pročitaju
        izjave o privatnosti svake web stranice koja prikuplja osobne podatke. Ova Izjava o privatnosti primjenjuje se
        isključivo vezano uz informacije prikupljene na web stranici LP Webshop d.o.o..
    </div>

    <br>

    <div>
        <b>Newsletter</b>
        Kontakt informacije, poput imena i e-mail adrese, bit će zatražene u slučaju da se korisnik želi prijaviti za
        primanje
        posebnog LP Webshop newslettera. Na web stranici www.LP Webshop.hr korisnik ima mogućnost prijaviti se na
        našu
        mailing listu. Prijavom na mailing listu korisnik daje suglasnost da se njegova e-mail adresa koristi u obradi
        osobnih
        podataka. LP Webshop d.o.o. upotrebljava osobne podatke isključivo za slanje personaliziranih newslettera.
        LP Webshop d.o.o. pregledava prethodne kupovine registriranih korisnika i šalje im personalizirane newslettere.
        Zbog
        potrebe
        usklađivanja poslovanja s Uredbom (EU) br. 2016/679 potrebno je izvršiti novu prijavu na našu mailing listu kako
        bi
        mogli dobivati personalizirane newslettere; korisnik prijavom na mailing listu daje suglasnost za obradu danih
        osobnih
        podataka. Korisnik se u svakom trenutku može odjaviti s personaliziranog newslettera. Nakon odjave, ne šaljemo
        više
        personalizirane newslettere. Odjava je moguća bilo kad i besplatna je. Korisnik može zatražiti brisanje svojih
        osobnih
        podataka iz baze mailing liste. Obrasci zahtjeva mogu se preuzeti s naše web stranice ili na adresi voditelja
        zbirke.
        Zahtjev se može predati osobno, poštom ili e-mailom na: zastitaosobnihpodataka@LPWebshop.hr
    </div>

    <br>

    <div>
        <b>Upitnici</b>
        Naša web stranica povremeno zahtijeva podatke od korisnika putem upitnika. Sudjelovanje u ovim upitnicima (npr.
        nagradne
        igre) u potpunosti je dobrovoljno i korisniku je ostavljen izbor da pruži ili odbije pružiti tražene podatke.
        Traženi
        podaci mogu uključivati kontakt informacije (poput imena ili kućne adrese) i demografske podatke (poput
        poštanskog
        broja
        ili starosne dobi). Kontakt informacije bit će iskorištene kako bi se obavijestili pobjednici i dobitnici
        nagrada.
        Rezultati upitnika bit će iskorišteni za praćenje i usavršavanje Instarove web stranice i/ili naših usluga.
    </div>

    <br>

    <div>
        <b>Sigurnost</b>
        Ova web stranica poduzima apsolutno sve dostupne mjere kako bi zaštitila podatke o korisniku. Unošenje
        povjerljivih
        podataka putem ove web stranice zaštićeno je on-line i off-line. Ako se u našem formularu za registraciju od
        korisnika
        zahtijevaju povjerljivi podaci (poput osobnih podataka) ti su podaci šifrirani i zaštićeni sigurnosnim
        protokolom
        (SSL).
        Tijekom boravka na zaštićenoj stranici ikona lokota na dnu Internet pretraživača poput Internet Explorera,
        Netscape
        Navigatora ili drugih internet browsera je zaključana, za razliku od otključane ili otvorene ikone prilikom
        uobičajenog
        pretraživanja naših stranica. Osim korištenja SSL šifriranja kako bismo zaštitili podatke o korisnicima na webu,
        činimo
        sve što je u našoj mogućnosti kako bismo iste podatke zaštitili i off-line. Pristup svim podacima o našim
        korisnicima,
        ne samo gore spomenutim povjerljivim podacima, je ograničen. Pristup povjerljivim podacima imaju samo
        zaposlenici
        kojima
        su isti potrebni kako bi obavili određenu uslugu.
        Za sva dodatna pitanja o sigurnosti na našoj web stranici možete poslati e-mail na:
        zastitaosobnihpodataka@LPWebshop.hr.
    </div>

    <br>

    <div>
        <b>Posebna ponuda</b>
        Povremeno možete primati informacije o proizvodima, uslugama i posebnim ponudama te newsletter. Poštujući
        privatnost
        svojih korisnika nudimo mogućnost odbijanja ovog tipa informacija u svakom trenutku.
    </div>

    <br>

    <div>
        <b>Ispravci i ažuriranje osobnih podataka</b>
        Ako se korisnikovi osobni podaci (poput poštanskog broja) promijene ili ako korisnik više ne želi našu uslugu,
        omogućujemo ispravljanje, ažuriranje ili uklanjanje korisnikovih osobnih podataka koje posjedujemo. To se može
        izvršiti
        na Instarovoj web stranici ili slanjem e-maila na adresu zastitaosobnihpodataka@LPWebshop.hr
    </div>

    <br>

    <div><b> Obavijesti o promjenama</b>
        U slučaju da odlučimo promijeniti naša pravila o poštivanju privatnosti obavijest ćemo objaviti na naslovnici
        naše
        web
        stranice kako bi korisnici uvijek bili upoznati s podacima koje prikupljamo, načina na koji ih koristimo. Ako u
        bilo
        kojem trenutku odlučimo iskoristiti osobne podatke na način različit od navedenog u vrijeme kad su isti podaci
        dobiveni,
        naše ćemo korisnike obavijestiti putem e-maila. Korisnicima će biti pružena mogućnost da odobre ili odbiju naše
        korištenje tih podataka na nov način. Podatke ćemo koristiti u skladu s pravilima o poštivanju privatnosti
        važećima
        u
        vrijeme prikupljanja podataka
    </div>

    <br>

    <div> <b> PRIKUPLJANJE I OBRADA OSOBNIH PODATAKA</b>

        Voditelj obrade podataka
        LP Webshop d.o.o. s registriranim sjedištem u Andrije Kačića Miošića, 10410 Velika Gorica, je voditelj obrade
        vaših
        osobnih podataka.

        Politika privatnosti se primjenjuje na sve osobne podatke korisnika koje prikupljamo i obrađujemo, izravno ili
        putem
        svojih partnera.
        Osobni podatak je svaki podatak koji se odnosi na fizičku osobu čiji je identitet utvrđen ili se može utvrditi,
        izravno
        ili neizravno. Obrada podataka je bilo koja radnja izvršena na osobnim podacima, poput primjerice prikupljanja,
        pohrane,
        upotrebe, uvida i prijenosa osobnih podataka. Ova politika se ne primjenjuje na anonimne podatke. Anonimni
        podatak
        je
        podatak koji se ne može povezati s određenom fizičkom osobom.</div>

    <br>


    <div><b>Koje podatke prikupljamo</b>
        Osobni podaci: ime, prezime, adresa, kontakt broj, email adresa, datum rođenja, broj osobne iskaznice, OIB
        Fotografije i video snimke: prilikom korištenja videonadzora
        Informacije o prodaji i servisu: informacije o kupnji, uključujući korisnički identitet kupca, broj ugovora i
        informacije o jamstvu, reklamacijama, dostavi, podršci i uslugama, uključujući prigovore i zahtjeve
    </div>

    <br>


    <div> <b>Svrha prikupljanja podataka</b>
        Prodaja i servis proizvoda – za obradu vaše prodaje, konfiguraciju i servisiranje vašeg proizvoda
        LP Webshop d.o.o. će prikupiti osobne podatke, informacije o prodaji i servisu kao i informacije o povijesti
        kupca
        kada kupite, servisirate ili popravljate proizvod kupljen kod nas, uključujući zahtjeve na temelju jamstva i
        provjere te
        će ih koristiti za pružanje usluga koje ste tražili i obavještavanje o pitanjima vezanim uz vaš proizvod te
        ispunjenje
        sklopljenog ugovora.
        Pružanje osobnih podataka u svrhu ispunjenja sklopljenog ugovora predstavlja ugovornu obvezu te ako ih ne
        pružite,
        to
        može utjecati na ispravno izvršenje ugovora ili ga čak onemogućiti.</div>

    <br>
    <div><b>Podrška kupcima i marketing – za odgovore na upite i davanje novosti i ponuda</b>
        LP Webshop d.o.o. prikuplja osobne podatke te ih može koristiti kako bi kupcima pružili podršku, odgovore na
        upite i
        prigovore te kako bi procijenio koje novosti i ponude vas najvjerojatnije zanimaju te vas kontaktirao u vezi s
        tim
        ponudama u skladu s vašim interesima.
        Video nadzor - radi kontrole ulazaka i izlazaka iz radnih prostorija i prostora te radi smanjenja izloženosti
        radnika
        riziku od razbojstva, provala, nasilja, krađa i sličnih događaja na radu ili u vezi s radom.</div>

    <br>

    <div><b>Prijenos trećim stranama</b>
        Osobni podaci mogu se prenositi trećim stranama, pod uvjetom da postoji pravna osnova za prijenos.

        Vaši osobni podaci mogu se prenositi sljedećim subjektima:
        1) Za realizaciju ugovora isporuke robe podatke ćemo dijeliti sa pružateljima distribucijskih usluga s kojima
        surađujemo
        i imamo sklopljene ugovore. Pružatelj distribucijskih usluga može korisnika pri isporuci roba ili usluga tražiti
        osobni
        dokument na uvid i/ili evidentirati određene podatke sa dokumenta. Ukoliko korisnik nije voljan predati takve
        podatke
        nužne za isporuku paketa tj. dokaz o naručiocu, usluga ili roba neće moći biti izvršena ili uručena.
        2) Pružateljima usluga ovlaštenih servisa pri reklamiranju proizvoda unutar jamstva ili po zahtjevu korisnika
        zbog
        neispravnosti ili nemogućnosti korištenja proizvoda iz nekog od korisniku bitnih razloga.
        3) Sponzorima nagradnih natječaja u procesu predaje nagrade korisniku. Ukoliko korisnik ne želi da LP Webshop
        d.o.o.
        dijeli sa sponzorima podatke u svrhu dodjele moguće nagrade, savjetujemo korisnika da ne sudjeluje u takvim
        aktivnostima
        kako u trgovini, tako i na internetskim stranicama LP Webshop d.o.o.
        4) Državnim institucijama koje zatraže podatke na uvid zbog neke treće obrade istih ili potrebe za ostvarivanje
        prava
        LP Webshopd.o.o. zbog nepoštivanja ugovora o pružanju usluga.
        5) Tvrtka Mad Mimi koji se profesionalno bavi automatiziranim slanjem oglašivačkih poruka, tzv. newsletter.
        6) Podatke na uvid ima programerska tvrtka VSC PRO+ Internet trgovina d.o.o. koja održava i unosi novosti u
        sustav
        tj.
        na webshop www.LP Webshop.hr
        7) Podatke dijelimo tj. dostupni su tvrtki Tomsoft d.o.o.od koje LP Webshop d.o.o koristi poslovni program
        Luceed.</div>

    <br>
    <div> <b>Koliko dugo zadržavamo vaše podatke</b>
        Osobne podatke pohranjujemo i obrađujemo samo onoliko dugo koliko je potrebno za izvršenje određene legitimne
        svrhe,
        osim ako važećim propisima nije za pojedinu svrhu predviđeno duže vrijeme čuvanja, a najmanje za vrijeme
        trajanja
        ugovora između korisnika iLP Webshop d.o.o.
        U slučaju davanja privole za marketing, podatke čuvamo onoliko dugo dok se privola ne povuče. U slučaju
        odbijenih
        ponuda, gdje nije dana privola za marketing, podatke vezane uz ponudu čuvamo godinu dana, a u slučaju da nas
        zatražite
        brisanje, isti će biti odmah u potpunosti obrisani.
        Osobni podaci koji više nisu potrebni se ili nepovratno anonimiziraju ili se uništavaju na siguran način.
    </div>

    <br>

    <div> <b>Web shop</b>
        Pristup web shopu www.LP Webshop.hr moguć je sa ili bez registracije.
        Prilikom registracije fizičke osobe na stranici www.LP Webshop.hr od Vas tražimo određene osobne podatke
        kao
        što
        su ime i prezime, email adresa, adresa stanovanja, telefonski broj, ponekad datum rođenja u svrhu pružanja
        raznih
        pogodnosti. Pri registraciji kupac pristupa svojoj bazi na LP Webshop webshopu unutar koje ima nekolicinu
        pogodnosti
        (program vjernosti i sakupljanje bodova, podrška u vidu čuvanja računa, jamstvenog lista i sl. u slučaju kada
        kupac
        iste
        izgubi itd)
        Pri kupovini na stranicama www.LP Webshop.hr bez registracije prikupljamo samo podatke koji su nužni za
        isporuku
        kupljene robe te se navedeni podaci pohranjuju u svrhu ispunjenja ugovora.
        Korisnik naše web stranice može izabrati želi li primati promotivne poruke ili ne pritiskom na polje potvrde,
        neovisno o
        tome je li se registrirao na stranici ili ne.
        Davanje osobnih podatka je odluka korisnika koji može, no i ne mora koristiti pogodnosti naše tvrtke. Ukoliko
        korisnik
        odluči ne pružiti podatke potrebne za određenu aktivnost, ista neće moći biti provedena.
        Podaci koje korisnik daje pri registraciji, pohranjuju se na serveru LP Webshop webshopa te u poslovnom programu
        kojem
        pristup imaju djelatnici tog odjela uz šifre za pristup poslovnom programu.
        U svakom trenutku možete deaktivirati vašu registraciju odabirom polja deaktivacije. U tom slučaju podaci će se
        čuvati u
        sustavu LP Webshop webshopa dok postoji potreba za izvršenjem legitimne svrhe, a najmanje za vrijeme trajanja
        ugovora
        između
        korisnika i LP Webshop Center d.o.o.
        Našim korisnicima preporučamo da pri izradi lozinke za korisnički račun kombiniraju velika, mala slova i broj
        kako
        bi
        sama lozinka bila što teža za 'probijanje'. LP Webshop Center d.o.o. ni u jednom trenutku ne raspolaže, ne
        prikuplja
        niti
        obrađuje osobne podatke unesene u svrhu procesiranja i naplate kartica. Vi kao korisnik možete odlučiti ostaviti
        podatke
        trajno na stranicama koje služe za naplatu, no ti podaci nisu na našim serverima niti unutar našeg softwarea.
        Savjetujemo vas da pročitate kako te stranice obrađuju i evidentiraju takvu vrstu Vaših podataka kako biste u
        potpunosti
        bili upoznati sa svime.</div>

    <br>

    <div> <b>Gdje se pohranjuju osobni podaci</b>
        Svi podaci pohranjuju se na nekoliko medija:

        - podaci za promotivne svrhe: na LP Webshop korisničkom računu, na stranicama LP Webshop webshopa (koji se
        nalazi na
        zakupljenom dijelu tvrtke koja pruža prostor na webu) i zakupljenom dijelu unutar stranice Mad Mimi (isključivo
        email
        adresa korisnika)
        - podaci o korisniku kao kupcu: na stranicama Instarova webshopa koji se nalazi na zakupljenom dijelu tvrtke
        koja
        pruža
        prostor na webu
        - u poslovnom programu Luceed tvrtke Tomsoft d.o.o., a na lokalnom serveru LP Webshop d.o.o. kojem imaju
        pristup
        samo
        određeni djelatnici tvrtke te ovlaštena tvrtka za održavanje servera
        - u poslovnom programu Luceed tvrtke Tomsoft d.o.o. pohranjuju se podaci vezani za jamstvo i reklamaciju u vidu
        fotografije ili videa proizvoda, reklamacijskih primki i korespondencije u slučaju pravnih procesa
        - snimke nadzorne kamere - na serveru video nadzora unutar mreže LP Webshop d.o.o.

        LP Webshop d.o.o lokalne servere drži u RH u poslovnim prostorijama Instara.</div>

    <br>


    <div> <b>Pristup i izmjena podataka</b>
        Korisnik u svakom trenutku ima mogućnost pristupa svojim podacima pohranjenim na web stranici Instara gdje ih
        može
        revidirati, mijenjati i brisati. Sve izmjene izvršene na web stranici bit će zabilježene i unutar samog
        poslovnog
        programa s odmakom od 24 sata.
        Korisnik može u svakom trenutku dobiti informaciju o tome koje podatke LP Webshop d.o.o. ima pohranjene
        slanjem
        upita
        na email adresu zastitaosobnihpodataka@LPWebshop.hr
        Povratnu informaciju na vaš upit bit ćemo u mogućnosti dati samo ukoliko je upit poslan s aktivnog emaila koji
        je
        zabilježen u našem poslovnom softwareu s točnim podacima unutar emaila (ime i prezime, broj telefona korisnika
        koji
        traži informaciju) kako bi vas zaštitili od mogućnosti izlaganja vaših osobnih podataka nekoj trećoj osobi.
    </div>

    <br>


    <div> <b> Pravo na zaborav osobnih podataka korisnika</b>
        Korisnik ima pravo u bilo kojem trenutku zatražiti brisanje osobnih podataka. To može učiniti slanjem zahtjeva
        na
        email
        adresu zastitaosobnihpodataka@LPWebshop.hr i podaci će biti brisani bez odgode osim u slučaju da
        postoji
        zakonska obveza čuvanja navedenih podataka, legitimni interes te osnova za ostvarenje vaših zakonskih prava.
        Povratnu informaciju na vaš upit bit ćemo u mogućnosti dati samo ukoliko je upit poslan s aktivnog emaila koji
        je
        zabilježen u našem poslovnom softwareu s točnim podacima unutar emaila (ime i prezime, broj telefona korisnika
        koji
        traži informaciju) kako bi vas zaštitili od mogućnosti izlaganja vaših osobnih podataka nekoj trećoj osobi.
    </div>

    <br>


    <div> <b> Pravo na prigovor</b>
        Ukoliko unatoč svim poduzetim mjerama za zaštitu osobnih podataka smatrate da imate osnove za prigovor, budite
        slobodni
        nam se obratiti na email adresu zastitaosobnihpodataka@LP Webshop.hr.</div>

    <br>

    <div> <b> Sigurnosne mjere zaštite osobnih podataka</b>
        Prikupljeni podaci su u elektroničnom obliku zaštićeni SSL certifikatom koji kriptira podatke i tako osigurava
        da se
        komunikacija između računala korisnika i LP Webshop d.o.o. odvija sigurnim protokolom bez mogućnosti uvida u
        podatke
        od trećih strana. Zaštitu podataka shvaćamo vrlo ozbiljno i poduzimamo sve napredne tehnologije kako bi vaši
        podaci
        ostali zaštićeni. Provodimo sve razumne mjere za zaštitu podataka, no ne možemo jamčiti zaštitu informacija
        prenesenih
        na ili s interneta pa stoga nismo odgovorni za informacije koje na takav način primi treća strana. LP Webshop
        d.o.o.
        pohranjuje podatke unutar EU-a.
        Izjavu o privatnosti, LP Webshop d.o.o.,može izmijeniti u bilo kojem trenutku objavljivanjem izmijenjenog
        teksta
        o
        privatnosti na stranicama LP Webshop d.o.o.. Ovim putem pozivamo korisnike da povremeno pregledaju ovu izjavu
        na
        kojoj će biti naznačene nove izmjene ukoliko ih je u prethodnom periodu bilo. Ukoliko se korisnik ne slaže s
        ovom
        izjavom o privatnosti upućujemo korisnika da napusti, ne pristupa i ne koristi stranicu
        www.LP Webshop.hr.
        Izmjena izjave o privatnosti stupa na snagu odmah nakon objave na internetskoj stranici
        www.LP Webshop.hr.
        Nastavak upotrebe naše web stranice od strane korisnika nakon stupanja na snagu izmjena, podrazumijeva da
        korisnik
        potvrđuje i prihvaća izmijenjenu izjavu o privatnosti.</div>

    <br>


    <div> <b>Pravila o postupanju s kolačićima</b>
        Kolačić (cookie) je podatak koji web stranica pohranjuje u računalo ili mobilni uređaj posjetitelja. Kolačić
        dozvoljava
        web stranici da pamti akcije posjetitelja iz njegovih posjeta. Većina preglednika dozvoljava upotrebu kolačića,
        ali
        korisnik u svakom trenutku može kolačiće obrisati ili postaviti u pregledniku zabranu upotrebe kolačića.
        Najčešće
        razlozi upotrebe kolačića su identifikacija korisnika, pamćenje preferencija korisnika, pomoć pri unosu ili
        pregledu
        sadržaja koji je već unašan u prijašnjim posjetima, skupljanje podataka za analize i promotivne kampanje, sve u
        svrhu
        pružanja što boljeg korisničkog iskustva.
        Prilikom uporabe kolačića određeni podaci se prikupljaju automatski s vašeg računala pri dolasku na naše
        stranice.
        Ti
        podaci mogu uključivati i IP adresu, datum i vrijeme pristupa, podatke o vrsti računala, operativnog sustava,
        pretraživaču koji koristite, verzijama programa kao i jezičnim postavkama vašeg računala. Pristupom na samu
        stranicu
        vidjet ćete obavijest o korištenju kolačića koji prikupljaju ove podatke te pritiskom na polje „Slažem se“
        dajete
        nam
        privolu za prikupljanje tih podataka. Ukoliko na stranicama ne dozvolite privolu, ti podaci neće biti
        prikupljani,
        pohranjivani ni obrađivani.
        Kolačići mogu biti Session cookies – pohranjuju se na računalu i brišu se odmah nakon zatvaranja preglednika, a
        omogućuju stranici prikupljanje privremenih podataka poput košarice za kupnju ili komentara.
        Persistent cookies – ostaju u računalu i nakon zatvaranja preglednika ili gašenja računala ali obično imaju rok
        trajnosti. LP Webshop d.o.o. koristi kolačiće takvog tipa kako bi olakšao pristup korisnicima što je vidljivo
        u
        situacijama kada se korisnik vraća na stranice LP Webshop i odmah je ulogiran na iste što govori da pohranjuju
        korisničko
        ime i lozinku.
        Kolačići od prve strane koji dolaze sa web stranice koju ste posjetili mogu biti privremeni i stalni. Takvi
        kolačići
        omogućuju web stranici da sprema podatke koji se koriste kada korisnik ponovo posjeti web stranicu. Kolačići s
        treće
        strane su kolačići koji dolaze s vanjskih servisa koji korisniku spremaju limitirane kolačiće (Facebook,
        Instagram,
        Google analytics, AdWords, itd...).
        Ti kolačići postavljeni su od straneLP Webshop web shopa i služe kao pomoć pri tumačenju ponašanja korisnika
        i u
        marketinške svrhe. U postavkama pretraživača možete odrediti koje kolačiće želite prihvatiti, a koje odbiti.
        Mjesto
        uređivanja postavki ovise o vrsti pretraživača, a može se naći prilikom pretraživanja Help ili pomoć datoteke.
        Ukoliko
        odlučite da ne želite prihvaćati kolačiće s LP Webshop web stranice, postoji mogućnost da nećete moći koristiti
        određene
        funkcije na našoj web stranici.</div>

    <br>
    <br>
    <div> Leon Pisačić, direktor/CEO
        <br>
        LP Webshop d.o.o.
        <br>
        Vlaška ulica 242,
        <br>
        10000 Zagreb
        <br>
        OIB: 64308723629
        <br>
        Tel: 091 466 3573
        <br>
        Email: zastitaosobnihpodataka@LPWebshop.hr
    </div>
</div>