<div class="container">

    <h1 style="text-align: center;">Dobrodošli u LP Webshop!</h1>

    <div class="about-container">
        <div style="text-align: center; margin-bottom: 50px;">
            <b>LP online je odredište stvoreno s ljubavlju prema riječima, toplim napicima i udobnosti radnog prostora.
                Naša strast je stvaranje prostora gdje ljubitelji knjiga, kave i oni koji žele raditi u udobnom
                okruženju
                mogu pronaći proizvode koji obogaćuju njihov svakodnevni život.</b>
        </div>

        <h3>Naša Priča</h3>
        <div class="text">U temelju LP Webshop leži predanost pružanju vrhunskih proizvoda i usluga, ali naša priča ne
            staje samo na
            tome. S ponosom ističemo posvećenost našeg Lp tima, entuzijastičnih pojedinaca koji svakodnevno rade kako bi
            vaše iskustvo bilo još bolje.
            <br>
            <br>

            Naš Lp tim nije samo radna snaga; oni su srce i duša LP Webshop. Strastveni ljubitelji knjiga, kave
            i funkcionalnog radnog prostora, članovi našeg tima donose raznovrsnost i entuzijazam u sve što radimo.
            Svaki član tima posvećen je stvaranju okoline gdje kupci ne samo da pronađu proizvode koje vole, već dožive
            pravo iskustvo.
            <br>
            <br>

            Neprestano radimo na poboljšanjima kako bismo osigurali da LP Webshop bude mjesto koje nadmašuje vaša
            očekivanja. Od pažljivog odabira novih naslova knjiga do istraživanja najnovijih trendova u dizajnu čaša i
            radne opreme, naš tim trudi se uvijek biti korak ispred.
        </div>
        <div class="img-container">
            <img src="/assets/images/Tko_smo-karta.png" class="img-fluid">
        </div>


        <h3>Što Nudimo</h3>
        <div class="text">
            U našem širokom asortimanu možete pronaći najnovije naslove knjiga, elegantne čaše za kavu koje će obogatiti
            vaše pijenje omiljenog napitka, te udobne podloge za miš koje čine radni prostor još ugodnijim. Naša
            pažljivo odabrana ponuda osmišljena je kako bi zadovoljila vaše potrebe i pružila vam kvalitetne proizvode.
        </div>
        <div class="img-container">
            <img src="/assets/images/Tkosmo4.jpg" class="img-fluid">

        </div>

        <h3>Kvaliteta i Pouzdanost</h3>
        <div style=" margin-bottom: 20px;" class="text">
            posvećeno je pružanju vrhunske usluge i proizvoda. Suradjujemo s renomiranim izdavačima, proizvođačima čaša
            i opreme za rad kako bismo osigurali da svaki proizvod na našem webshopu odražava našu predanost kvaliteti.


        </div>
        <div class="img-container">
            <img src="/assets/images/Tko_smo-priznanja.jpg" class="img-fluid">
        </div>

    </div>



</div>